@viewport   {
    width: device-width;
    zoom: 1.0;
}

/* Desktop */
@media screen and (max-width: 1300px) {
    .welcomePage {
        width: 1000px;
        height: 475px;
        top: 50px;
        padding-bottom: 20px;
    }

    #quiz-title {
        position: relative;
        top: 10px;
    }
    
    #rules-header {
        top: 20px;
        left: 70px;
    }

    #quiz-rules {
        left: 45px;
        width: 800px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .quizPage {
        width: 1000px;
        height: 425px;
    }

    .timerBox {
        width: 150px;
        height: 50px;
        position: absolute;
        top: 20px;
        left: 100px;
        margin-bottom: 40px;
    }

    #question-count {
        margin-bottom: 50px;
    }

    .answerFeedback {
        left: 100px;
    }

    .timesUpPage {
        width: 65%;
        height: 200px;
        font-size: 40px;
    }

    .formPage {
        width: 800px;
        max-height: 800px;
    }

    .points-message {
        font-size: 30px;
    }

    .initials-message {
        position: relative;
        left: 22px;
        font-size: 20px;
    }

    #user-initials {
        position: relative;
        left: 35px;
        height: 30px;
        font-size: 18px;
    }

    .scoresPage {
        position: relative;
        width: 900px;
        max-height: 500px;
        top: 20px;
    }

    /* .clearfix::after {
        content: '';
        clear: both;
        display: table;
    } */

    .points-chart {
        width: 47%;
        height: 275px;
        font-size: 14px;
        padding: 10px;
        margin-left: 5px;
        margin-right: 5px;
        float: left;
        position: relative;
        top: 30px;
        left: 4px;
    }

    .initials-column {
        text-align: left;
    }

    .scores-header {
        left: 10px;
        font-size: 20px;
    }

    .table-columns {
        font-size: 14px;
    }

    th {
        width: 16%;
        text-align: right;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: 2px;
    }

    td {
        width: 16%;
        text-align: right;
    }

    #save-button {
        top: 100px;
        display: inline;
        left: 130px;
    }

    #clear-button {
        top: 100px;
        display: inline;
        left: 197px;
    }

    #retake-button {
        top: 100px;
        display: inline;
        left: 246px;
    }
}

/* Small Laptop */
@media screen and (max-width: 940px) {
    .welcomePage {
        width: 900px;
        height: 450px;
        top: 50px;
        padding-bottom: 20px;
    }

    #rules-header {
        left: 70px;
    }

    #quiz-rules {
        left: 45px;
        width: 800px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .quizPage {
        width: 900px;
        max-height: 800px;
    }

    .timerBox {
        width: 150px;
        height: 50px;
        position: absolute;
        top: 20px;
        left: 50px;
        margin-bottom: 40px;
    }

    .answerFeedback {
        left: 80px;
    }

    .timesUpPage {
        width: 65%;
        height: 200px;
        font-size: 40px;
    }

    .formPage {
        width: 800px;
        max-height: 800px;
    }

    .points-message {
        font-size: 30px;
    }

    .initials-message {
        position: relative;
        left: 22px;
        font-size: 20px;
    }

    #user-initials {
        position: relative;
        left: 35px;
        height: 30px;
        font-size: 18px;
    }

    .scoresPage {
        position: relative;
        width: 900px;
        max-height: 500px;
        top: 20px;
    }

    /* .clearfix::after {
        content: '';
        clear: both;
        display: table;
    } */

    .points-chart {
        width: 47%;
        height: 275px;
        font-size: 14px;
        padding: 10px;
        margin-left: 5px;
        margin-right: 5px;
        float: left;
        position: relative;
        top: 30px;
        left: 4px;
    }

    .initials-column {
        text-align: left;
    }

    .scores-header {
        left: 10px;
        font-size: 20px;
    }

    .table-columns {
        font-size: 14px;
    }

    th {
        width: 16%;
        text-align: right;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: 2px;
    }

    td {
        width: 16%;
        text-align: right;
    }

    #save-button {
        top: 100px;
        display: inline;
        left: 130px;
    }

    #clear-button {
        top: 100px;
        display: inline;
        left: 197px;
    }

    #retake-button {
        top: 100px;
        display: inline;
        left: 246px;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .welcomePage {
        width: 600px;
        height: 480px;
        top: 50px;
    }

    #rules-header {
        left: 65px;
    }

    #quiz-rules {
        left: 40px;
        width: 450px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .quizPage {
        width: 600px;
        max-height: 950px;
        top: 85px;
        margin-top: 15px;
    }

    .timerBox {
        width: 150px;
        height: 50px;
        position:absolute;
        top:30px;
        left: 25px;
        margin-bottom: 30px;
    }

    .timesUpPage {
        width: 600px;
        max-height: 300px;
        font-size: 40px;
    }

    .answerFeedback {
        left: 60px;
    }

    .formPage {
        width: 600px;
        max-height: 950px;
    }

    .points-message {
        font-size: 20px;
    }

    .initials-message {
        position: relative;
        left: 10px;
        font-size: 15px;
    }

    #user-initials {
        position: relative;
        left: 20px;
        font-size: 13px;
    }

    .scoresPage {
        width: 600px;
        max-height: 650px;
        top: 20px;
    }

    .points-chart {
        width: 90%;
        height: 200px;
        font-size:14px;
        padding: 10px;
        margin: 10px;
        left: 20px;
    }

    .initials-column {
        text-align: left;
    }

    .scores-header {
        left: 5px;
        font-size: 12px;
    }

    .table-columns {
        font-size: 12px;
    }

    th {
        width: 16%;
        text-align: right;
    }

    td {
        width: 16%;
        text-align: right;
    }

    #save-button {
        top: 70px;
        left: 17px;
    }

    #clear-button {
        top: 70px;
        left: 43px;
    }

    #retake-button {
        top: 70px;
        left: 63px;
    }
}

/* Phone */
@media screen and (max-width: 480px) {
    .welcomePage {
        width: 400px;
        height: 510px;
        margin-top: -25px;
    }

    #quiz-title {
        font-size: 20px;
    }

    #rules-header {
        left: 20px;
    }

    #quiz-rules {
        left: -4px;
        width: 350px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .quizPage {
        width: 400px;
        max-height: 1000px;
        top: 85px;
        margin-top: 15px; 
    }

    .timerBox {
        width: 150px;
        height: 50px;
        left: 30px;
        top: 10px;
        margin-bottom: 10px;
    }

    .answerFeedback {
        left: 20px;
    }

    .timesUpPage {
        width: 400px;
        max-height: 150px;
        font-size: 30px;
    }

    .formPage {
        width: 400px;
        max-height: 1000px;
    }

    .points-message {
        font-size: 15px;
    }

    .initials-message {
        position: relative;
        font-size: 13px;
        left: 3px;
    }

    #user-initials {
        position: relative;
        left: 15px;
    }

    .scoresPage {
        position: relative;
        top: 10px;
        width: 380px;
        max-height: 750px;
        margin-top: 10px;
    }

    .points-chart {
        width: 80%;
        height: 225px;
        font-size:12px;
        padding: 10px;
        margin: 10px;
        display: block;
        left: 26px;
    }

    .initials-column {
        text-align: left;
    }

    .scores-header {
        left: 0px;
        font-size: 15px;
    }

    .table-columns {
        font-size: 12px;
    }

    th {
        width: 16%;
        text-align: right;
    }

    td {
        width: 16%;
        text-align: right;
    }

    #save-button {
        top: 50px;
        left: 13px;
        margin-right: 5px;
    }

    #clear-button {
        top: 50px;
        left: 17px;
        margin-left: 5px;
    }

    #retake-button {   
        top: 50px;
        margin-top: 20px;
        left: 100px;    
    }
}